/* Цвет основного текста #212121 */
/* Цвет вторичного тексат #757575 */
/* Цвет текста телефона и почты в футере rgba(255, 255, 255, 0.6) */
/* Белый цвет #FFFFFF */
/* Цвет акцентированных элементов #2196F3 */
/* Цвет фона футера #2F303A */

:root {
    --brend-color: #2196F3;
    --white: #fff;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --color-text-footer: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
}

/* Общие стили для тега боди */
body{
    background-color: #fff;
    font-family: roboto, sans-serif;
    color: #212121;
}


/* Цвет половины логотипа */
.logo-header {
    color: var(--main-text-color);
}

/* Убираем в списках точки, Репета показал - прикольно!*/
ul {
    list-style: none;

}
.logo {   
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 1.2;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: var(--brend-color);
}
/* HADER */
/* Навигация */
.site-nav a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.site-nav .link.current {
    color: var(--brend-color);
}

.auth-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.filter-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.filter-button.filter:hover,
.filter-button.filter:focus
 {
    cursor: pointer;
    background-color: var(--brend-color);
}
/* Область карточек */
.card-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-text-color);
}

.card-filter {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Footer */

.background-footer {
    background: var(--footer-color);
}

.logo-footer {
    color: var(--white);
}

.adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-auth {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--color-text-footer);
}